# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Configurations système
.DS_Store
Thumbs.db

# IDE/éditeur
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Cache
.cache/
*.tsbuildinfo

# Docker
docker
